services:
  profilarr:
    image: santiagosayshey/profilarr:latest
    container_name: profilarr
    ports:
      - 6868:6868
    volumes:
      - ${DATA}/profilarr:/config
    environment:
      - TZ=America/Sao_Paulo
    restart: unless-stopped