# ===== FOLDER PATHS =====
DATA=${PWD}/data
DOWNLOADING=${PWD}/downloading
DOWNLOADS=${PWD}/downloads
BOOKS=${PWD}/books
MEDIA=${PWD}/media

# ===== GENERAL =====
DOMAIN=example.com

# ===== APPLICATION SPECIFIC =====
# Cloudflared
CLOUDFLARED_TOKEN=token

# ezBookkeeping
EBK_SERVER_DOMAIN=https://ezbookkeeping.${DOMAIN}
EBK_SECURITY_SECRET_KEY=secret_key
EBK_SECURITY_ENABLE_API_TOKEN=true

# n8n
WEBHOOK_URL=https://n8n.${DOMAIN}
N8N_EDITOR_BASE_URL=https://n8n.${DOMAIN}
GENERIC_TIMEZONE=America/Sao_Paulo