# ===== FOLDER PATHS =====
DATA=${PWD}/data
DOWNLOADING=${PWD}/downloading
DOWNLOADS=${PWD}/downloads
BOOKS=${PWD}/books
MEDIA=${PWD}/media

# ===== GENERAL =====
DOMAIN=example.com
TZ=America/Sao_Paulo

# ===== APPLICATION SPECIFIC =====
# Cloudflared
CLOUDFLARED_TOKEN=token

# Caddy
CF_API_TOKEN=token

# VoidAuth
VOIDAUTH_APP_URL=https://auth.${DOMAIN}
VOIDAUTH_STORAGE_KEY=key

# ezBookkeeping
EBK_AUTH_OIDC_PROVIDER_BASE_URL=${VOIDAUTH_APP_URL}/oidc
INSECURE_SKIP_VERIFY=true

# n8n
WEBHOOK_URL=https://n8n.${DOMAIN}
N8N_EDITOR_BASE_URL=https://n8n.${DOMAIN}
GENERIC_TIMEZONE=America/Sao_Paulo

# Profilarr
PROFILARR_OIDC_CLIENT_ID=profilarr
PROFILARR_OIDC_CLIENT_SECRET=secret
PROFILARR_OIDC_DISCOVERY_URL=${VOIDAUTH_APP_URL}/oidc/.well-known/openid-configuration