version: "3.8"
name: homelab

include:
  - apps/kiss/docker-compose.yml
  - apps/komga/docker-compose.yml
  - apps/n8n/docker-compose.yml
  - apps/jellyfin/docker-compose.yml
  - apps/jellyseerr/docker-compose.yml
  - apps/radarr/docker-compose.yml
  - apps/sonarr/docker-compose.yml
  - apps/prowlarr/docker-compose.yml
  - apps/bazarr/docker-compose.yml
  - apps/flaresolverr/docker-compose.yml
  - apps/deluge/docker-compose.yml

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    env_file: ".env"
    command: tunnel --no-autoupdate run --token "$CLOUDFLARED_TOKEN"
    networks:
      - homelab_network
    depends_on:
      - kiss # 8080
      - komga # 25600
      - n8n # 5678
      - jellyfin # 8096 7359
      - jellyseerr # 5055
      - radarr # 7878
      - sonarr # 8989
      - prowlarr # 9696
      - bazarr # 6767
      - flaresolverr # 8191
      - deluge # 8112 6881 58846

networks:
  homelab_network:
    driver: bridge
