---
services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - ${DATA}/bazarr:/config
      - ${MEDIA}/movies:/movies
      - ${MEDIA}/shows:/shows
      - ${MEDIA}/anime:/anime
    ports:
      - 6767:6767
    restart: unless-stopped